@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: inherit !important;
}

.react-calendar__tile {
  position: relative;
  padding: 1em 0.5em !important;
}

.react-calendar__tile--now {
  background: #dbeafe !important;
}

.react-calendar__tile--active {
  background: #3b82f6 !important;
  color: white !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #bfdbfe !important;
}